body{
    background-color: rgb(40, 38, 38);
    color: rgb(244, 190, 40);
    font-family: 'Courier New', Courier, monospace;
}
header{
    font-size: 50px;
    border: double 5px orange;
    text-align: center;
    /*margin: 30px;*/
    padding: 30px;
    color: gold;
}
h1{
    font-size: 30px;
}
p{
    font-size: 20px;
}

section{
background-color:gold;
padding-bottom: 80px;
display: flex;
justify-content: center;

}